<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	">

	<bean name="securityPresenterFactory" class="ar.com.oxen.nibiru.security.ui.generic.presenter.GenericSecurityPresenterFactory">
		<property name="eventBus" ref="eventBus" />
		<property name="authenticationService" ref="authenticationService" />
		<property name="securityManager" ref="securityManager" />
		<property name="hashService" ref="hashService" />
	</bean>

</beans>