<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	">

	<bean id="crudPresenterFactory"
		class="ar.com.oxen.nibiru.crud.ui.generic.presenter.GenericCrudPresenterFactory">
		<property name="eventBus" ref="eventBus" />
		<property name="extensionPointManager" ref="extensionPointManager" />
		<property name="conversationFactory" ref="conversationFactory" />
		<property name="authorizationService" ref="authorizationService" />
	</bean>

</beans>