<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
    http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
 
	<bean name="securityManager"
		class="ar.com.oxen.nibiru.security.manager.jpa.JpaSecurityManager"/>
	
	<tx:advice id="securityManagerTxAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="changePassword" propagation="REQUIRED" />
			<tx:method name="getUserData" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>

	<bean
		class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="beanNames" value="securityManager" />
		<property name="interceptorNames" value="securityManagerTxAdvice" />
	</bean>
</beans>