<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans.xsd
    	http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
    ">
 
	<bean name="licenseStoreManager"
		class="ar.com.oxen.nibiru.license.store.jpa.JpaLicenseStoreManager">
		<property name="entityManager" ref="licenseManagerEm" />
	</bean>
	
	<!-- JPA -->
	<bean id="licenseManagerEmFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="nibiruLicense" />
		<property name="persistenceXmlLocation" value="classpath:ar/com/oxen/nibiru/license/store/jpa/conf/jpa/persistence_standalone.xml" />
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean name="licenseManagerEm"
		class="org.springframework.orm.jpa.support.SharedEntityManagerBean">
		<property name="entityManagerFactory" ref="licenseManagerEmFactory" />
	</bean>

	<!-- Transaction -->
	<bean name="licenseManagerTxManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="licenseManagerEmFactory" />
	</bean>

	<tx:advice id="licenseManagerTxAdvice" transaction-manager="licenseManagerTxManager">
		<tx:attributes>
			<tx:method name="getLicense" propagation="REQUIRED" />
			<tx:method name="saveLicense" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>

	<bean
		class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="beanNames" value="licenseStoreManager" />
		<property name="interceptorNames" value="licenseManagerTxAdvice" />
	</bean>
</beans>